body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.value,
.label {
  display: block;
}
.timer {
  display: flex;
  width: 475px;
}
.field {
  width: 100px;
  margin: 0 auto;
  border: 1px solid black;
}
.value {
  font-size: 40px;
}
